[submodule "snippets"]
	path = UltiSnips
    url = git://github.com/lammermann/snipmate-snippets.git
[submodule "bundle/CCTree"]
	path = bundle/CCTree
	url = git://github.com/vim-scripts/CCTree.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/xml-completion"]
	path = bundle/xml-completion
	url = https://github.com/vim-scripts/XML-Completion.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:lammermann/ultisnips.git
